/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 2 de nov. de 2024, 14:39:07
    Author     : nicho
*/

body{
    background-color: #484759 ; 
    text-align: center;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    font-size: 7px;
    font-weight: bold;
}

body a{
    border: 1px solid black;
    border-radius: 25%;   
}

input{
    background-color:#99ff9d;
}
