/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 31 de out. de 2024, 17:58:51
    Author     : nicho
*/
*{
    background-color: lightblue ; 
}

.AlterarGenero *{
    background-color: lightgreen;
}
.NovoClasseEtaria *{
    background-color: lightgreen;
}